<div class="container">
  <h1>Best restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= restaurant.name %></li>
    <% end %>
  </ul>
  <%= link_to "back", restaurants_path %>
</div>

